<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.bloodwarrior3_ConnectionString"
            connectionString="Data Source=sql.bsite.net\MSSQL2016;Initial Catalog=bloodwarrior3_;Persist Security Info=True;User ID=bloodwarrior3_;Password=Aa1234$"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>